Repository ashishtkumar/demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-maven-check, ansible-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-xml
      - id: detect-private-key
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: java-maven-check
        name: Java & Maven Validator
        entry: hooks/java_maven_check.sh
        language: script
        files: \.java$|pom\.xml

      - id: dockerfile-lint
        name: Dockerfile Linter
        entry: hadolint
        language: system
        types: [dockerfile]

      - id: ansible-lint
        name: Ansible Playbook Linter
        entry: ansible-lint
        language: system
        types: [yaml]

precommit hook
  Jenkinsfile
Due: none

.pre-commit-config.yaml
  .pre-commit-config.yaml
  Jenkinsfile
Due: ansible-lint

Make java_maven_check.sh executable
  hooks/java_maven_check.sh
Due: none

java_maven_check.sh
  hooks/java_maven_check.sh
Due: none

docker-deploy.yml trailing spaces
  docker-deploy.yml
Due: ansible-lint

docker-deploy.yml Jinja2 template rewrite recommendation
  .pre-commit-config.yaml
  docker-deploy.yml
Due: ansible-lint

FQCN
  docker-deploy.yml
Due: ansible-lint

.pre-commit-config.yaml
  .pre-commit-config.yaml
Due: ansible-lint

testing precommit
  .pre-commit-config.yaml
Due: ansible-lint

jenkins dependency check
  Jenkinsfile
  pom.xml
Due: java-maven-check

OSSINDEX fix
  Jenkinsfile
  pom.xml
Due: java-maven-check

owasp dependency-check-maven
  Jenkinsfile
  pom.xml
  target/dependency-check-report.html
Due: java-maven-check

owasp dependency-check-maven
  Jenkinsfile
Due: none

Publish Dependency Check Report
  Jenkinsfile
Due: none

snyk test
  Jenkinsfile
Due: none

added maven-dependency-plugin
  pom.xml
Due: java-maven-check

Removing duplicate dependency
  pom.xml
Due: java-maven-check

Enabling debug mode snyk
  Jenkinsfile
Due: none

fixed pom.xml
  .gitignore
  pom.xml
  target/dependency-check-report.html
Due: java-maven-check

Added Jenkinsfile
  Jenkinsfile
Due: none

Removing DEBUG mode
  Jenkinsfile
Due: none

sync report
  Jenkinsfile
Due: none

synk report
  Jenkinsfile
Due: none

demo - Build & Compile
  Jenkinsfile
Due: none

added unit test
  Jenkinsfile
Due: none

unit test
  Jenkinsfile
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

Updated Jenkinsfile
  Jenkinsfile
Due: none

Build docker image
  Jenkinsfile
Due: none

CVE fixes
  Dockerfile
  pom.xml
Due: java-maven-check

added dependency-check-suppressions.xml
  dependency-check-suppressions.xml
  pom.xml
Due: java-maven-check

updated pom.xml
  dependency-check-suppressions.xml
  pom.xml
Due: java-maven-check

updated pom.xml
  pom.xml
Due: java-maven-check

updated dependency-check-suppressions.xml
  dependency-check-suppressions.xml
  pom.xml
Due: java-maven-check
